{{#each this}}
<div class="country__card">
    <h1 class="country country__name">{{name}}</h1>
    <div class="country__container"> 
        <div class="country__info">
            <p class="country country__capital">Capital : 
                <span>{{capital}}</span>
            </p>
            <p class="country country__population">Population :
                <span>{{population}}</span>
            </p>
            <ul class="country country__languages">Languages :
                {{#each languages}}
                    <li class="languages__item">{{name}}</li>
                {{/each}}
            </ul>
        </div>
   
        <div class="country__flag">
                <img src="{{flag}}", alt="{{name}}", width="480">   
        </div>
    </div>
    
</div>
        
{{/each}}